auto-save-list
undohist/*
vimish-fold/*
.cache
elpa/*
recentf
.emacs.desktop
.emacs.desktop.lock
desktops
image-dired
projectile-bookmarks.eld
projectile-bookmarks.eld
.emacs_workgroups
lisp/init-personal.el
projectile-bookmarks.eld
projectile.cache
ac-comphist.dat
request/curl-cookie-jar
lisp/set_wakatime_api.el
eshell/lastdir
tramp
eshell/*
recentf~

.mypy_cache
.vim
.netrwhist
custom.vim
dot_emacs.d/.emacs.d
nvim/nvim
dot_emacs.d/undo-tree-history/
dot_emacs.d/dot_emacs.d
